#header {
    background: #C0D451;
}
.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #C0D451;
}
#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #000000;
}
.module h2, .module caption, .inline-group h2 {
    background: #C0D451;
}
a.section:link, a.section:visited {
    color: #000000;
    text-decoration: none;
}
div.breadcrumbs {
    color: #FFFFFF;
    background: #a8bb3f;
}
div.breadcrumbs a {
    color: #000000;
}
#user-tools {
    color: #000000;
}
#header a:link, #header a:visited {
    color: #000000;
}
.main > .content {
    background: #eeeeee;
}
#changelist .actions {
    background: #eeeeee;
}
#changelist .paginator {
    background: #eeeeee;
}